$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Ubuntu', sans-serif;
$primary-color-text: #222222;
$secondary-color-text: #444444;

// Footer
$footer-color-text: #969aa8;
$footer-color-bg: #1c1c1c;
$btn-color-bg: #fcae4e;
$btn-color-hover: #f38913;
$btn-color-text: #f6f9fa;
$terms-color-bg: #0d0d0d;
$terms-color-text: #626263;
$terms-color-hover: #fcae26;
$top-btn-color-bg: #333333;
