$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Ubuntu', sans-serif;
$primary-text-color: rgb(34, 34, 34);
$secondary-color-text: rgb(68, 68, 68);
$color-orange: #fcae26;
$color-yellow: #feefd4;
$color-violet: #824fe3;
