$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Ubuntu', sans-serif;
$primary-text-color: #222222;
$secondary-color-text: #444444;
$color-orange: #fcae26;
$color-yellow: #feefd4;
$color-violet: #e6dcf9;
