.button {
  width: 190px;
  height: 45px;
  background-color: #e9ac38;
  border-radius: 5px;
  border: none;
  color: #f6f9fa;
  font-family: $primary-font-stack;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 3px 5px 0px rgba(252, 174, 38, 0.4);
}
