h1,
h2,
h3,
h4 {
  font-family: $primary-font-stack;
  color: $primary-text-color;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

p {
  font-family: $secondary-font-stack;
  color: $secondary-color-text;
  margin: 0;
  padding: 0;
}
