.footer {
  background-color: $footer-color-bg;
}

.footer__container {
  max-width: 280px;
  margin: 0 auto;
  padding-right: 45px;
  padding-left: 45px;
}

.footer_header {
  width: 0;
  height: 0;
  visibility: hidden;
  margin-bottom: 40px;
}

.footer__logo {
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}

.footer__adress {
  width: 190px;
  height: 90px;
  margin-bottom: 35px;
}

.footer__adress--text {
  font-size: 14px;
  line-height: 25px;
  color: $footer-color-text;
}

.contacts {
  margin-bottom: 35px;
  height: 90px;
}

.contacts__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  color: $footer-color-text;
}

.footer__button {
  margin-bottom: 35px;
  width: 190px;
  height: 45px;
  background-color: $btn-color-bg;
  border-radius: 5px;
  border: none;
  color: $btn-color-text;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);

  &:hover,
  &:focus {
    background-color: $btn-color-hover;
  }
}

.footer__social {
  margin-bottom: 35px;
}

.footer__social--link {
  margin-right: 20px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.footer__social--img {
  transform: scale(1);
  transition: transform 250 linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.terms {
  background-color: $terms-color-bg;
}

.terms__container {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 45px;
  position: relative;
}

.terms__link {
  display: flex;
  text-align: start;
  color: $terms-color-text;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  font-family: $primary-font-stack;

  &:hover,
  &:focus {
    color: $terms-color-hover;
  }
}

.topbutton {
  position: absolute;
  bottom: -190%;
  right: 1%;
  width: 55px;
  height: 55px;
  background-color: $top-btn-color-bg;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 767px) {
  .topbutton {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 690px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .over {
    display: flex;
    margin-bottom: 35px;
  }

  .footer__adress {
    margin-right: 44px;
    margin-bottom: 0;
  }

  .contacts {
    margin-right: 44px;
    margin-bottom: 0;
  }

  .footer__button {
    margin-bottom: 22px;
  }

  .footer__social {
    text-align: center;
    margin-bottom: 0;
  }

  .terms__container {
    max-width: 690px;
    height: 50px;
    padding-left: 34px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .terms__link {
    padding-right: 40px;

    &:last-child(1) {
      padding-right: 0;
    }
  }

  .topbutton {
    bottom: -190%;
  }
}

@media screen and (min-width: 1300px) {
  .footer__container {
    max-width: 1300px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .over {
    margin-bottom: 60px;
  }

  .footer__adress {
    margin-right: 150px;
    margin-bottom: 0;
  }

  .contacts {
    margin-right: 150px;
  }

  .footer__btnsocials {
    display: flex;
  }

  .footer__button {
    margin-right: 160px;
    margin-bottom: 0;
  }

  .footer__social {
    align-items: center;
    margin-top: 5px;
  }

  .topbutton {
  }

  .terms__container {
    max-width: 1300px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .terms__link {
    padding-right: 80px;
  }

  .topbutton {
    bottom: -45%;
  }
}
