.footer {
  background-color: $footer-color-bg;
}

.footer__container {
  width: 280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 45px;
  padding-left: 45px;
}

.footer__logo {
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}

.footer__adress {
  width: 190px;
  height: 90px;
  margin-bottom: 35px;
}

.footer__adress--text {
  font-size: 14px;
  line-height: 25px;
  color: $footer-color-text;
  margin-right: 44px;
  margin-bottom: 0;
  margin-bottom: 35px;
}

.contacts {
  margin-bottom: 35px;
  height: 90px;
}

.contacts__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  color: $footer-color-text;
  font-family: $secondary-font-stack;
}

.footer__btnsocials {
  padding-top: 5px;
}

.footer__button {
  margin-bottom: 35px;

  &:hover,
  &:focus {
    background-color: #dc9129;
  }
}

.footer__social {
  margin-bottom: 35px;
}

.footer__social-link {
  margin-right: 20px;
  text-decoration: none;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition: transform 250 linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.terms {
  background-color: #0d0d0d;
}

.terms__container {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 45px;
  position: relative;
}

.terms__link {
  display: flex;
  text-align: start;
  color: #626263;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  font-family: $primary-font-stack;

  &:hover,
  &:focus {
    color: #fcae26;
  }
}

.topbutton {
  position: fixed;
  bottom: 300px;
  right: 1%;
  width: 55px;
  height: 55px;
  background-image: url('../images/css_sprites.png');
  background-position: -361px -401px;
  background-color: #333333;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 7px 12px 0px rgba(51, 51, 51, 0.5);
}

@media screen and (max-width: 767px) {
  .terms {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .topbutton {
    visibility: hidden;
  }

  .terms__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 690px;
    padding-top: 55px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .footer__wrapper {
    display: flex;
    margin-bottom: 35px;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__adress {
    margin-right: 44px;
    margin-bottom: 0;
  }

  .contacts {
    margin-right: 44px;
    margin-bottom: 0;
  }

  .footer__button {
    margin-bottom: 22px;
    background-color: rgb(252, 174, 38);
    box-shadow: 0px 3px 5px 0px rgba(252, 174, 38, 0.4);

    &:hover,
    &:focus {
      background-color: #f39313;
    }
  }

  .footer__social {
    text-align: center;
    margin-bottom: 0;
  }

  .terms__container {
    max-width: 690px;
    height: 50px;
    padding-left: 34px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .terms__link {
    padding-right: 40px;

    &:last-child(1) {
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .footer__container {
    width: 1300px;
  }

  .over {
    margin-bottom: 60px;
  }

  .footer__adress {
    margin-right: 150px;
    margin-bottom: 0;
  }

  .contacts {
    margin-right: 150px;
  }

  .footer__btnsocials {
    display: flex;
  }

  .footer__button {
    margin-right: 160px;
    margin-bottom: 0;
  }

  .footer__social {
    align-items: center;
    margin-top: 5px;
  }

  .terms__container {
    max-width: 1300px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .terms__link {
    padding-right: 80px;
  }

  .topbutton {
    bottom: 40px;
    background-position: -356px -394px;
    width: 65px;
    height: 65px;
  }
}
