.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.hdr__logo-link {
  display: flex;
}

.nav-list__link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: $secondary-font-stack;
  overflow: hidden;
}

.hdr-title {
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.hdr-text {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.text__color {
  color: #e9ac38;
}

.scroll {
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  background-image: url(..//images/hdr-img/ScrollDown.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
}

.nav-list__link::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #fcae26;
}

.nav-list__link:hover:after,
.nav-list__link:focus:after {
  width: 100%;
  transition: 0.3s;
}

.txt-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.hdr {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1234px) {
  .navigation {
    position: absolute;
    width: 100%;
  }

  .navigation--scroll {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
    transition: 0.4s;
  }

  .menu-btn {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }

  .menu-btn__line,
  .menu-btn__line::before,
  .menu-btn__line::after {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
    top: 50%;
    margin-top: -2px;
  }

  .menu-btn--black .menu-btn__line,
  .menu-btn--black .menu-btn__line::before,
  .menu-btn--black .menu-btn__line::after {
    background-color: #000;
  }

  .menu-btn__line::before,
  .menu-btn__line::after {
    content: '';
    display: block;
  }

  .menu-btn__line::before {
    transform: translateY(-8px);
  }

  .menu-btn__line::after {
    transform: translateY(8px);
  }

  /* click */
  .menu-btn__active .menu-btn__line {
    height: 0;
  }

  .menu-btn__active .menu-btn__line:before {
    transform: rotate(-45deg);
    width: 30px;
    height: 4px;
  }

  .menu-btn__active .menu-btn__line:after {
    transform: rotate(45deg);
    width: 30px;
    height: 4px;
  }

  .nav-list {
    margin-bottom: 45px;
  }

  .nav-list__item {
    margin-bottom: 15px;

    &:nth-child(6) {
      margin-bottom: 0;
    }
  }

  .nav-wrapper {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: relative;
  }

  .hover-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #824fe3;
    z-index: 1;
    width: 100%;
    display: none;
    text-align: center;
    // height: 100vh;
  }

  .hover-wrapper--visible {
    display: block;
    position: fixed;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .hdr__container {
    max-width: 689px;
    position: relative;
    padding-top: 300px;
  }

  .nav-wrapper {
    min-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  .hover-wrapper {
    min-width: 320px;
    height: 560px;
    padding-top: 110px;
  }

  .hdr__logo-link {
    flex-basis: 100px;
    flex-grow: 0;
  }

  .hdr {
    background-image: url(..//images/hdr-img/mobile.jpg);
    min-height: 560px;
  }

  .hdr-title {
    padding-bottom: 20px;
    font-size: 35px;
  }

  .txt-wrapper {
    width: 281px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1234px) {
  .navigation {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
  }

  .hdr__container {
    max-width: 1234px;
    padding-top: 340px;
  }

  .nav-wrapper {
    min-width: 610px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-list {
    margin-bottom: 45px;
  }

  .nav-list__link {
    font-size: 28px;
  }

  .nav-list__item {
    margin-bottom: 15px;
  }

  .hdr__logo-link {
    flex-basis: 143px;
    height: 37px;
    flex-grow: 0;
  }

  .hdr {
    background-image: url(..//images/hdr-img/tablet.jpg);
    min-height: 600px;
    padding-bottom: 40px;
  }

  .hover-wrapper {
    min-width: 690px;
    height: 618px;
    padding-top: 140px;
  }

  .hdr-title {
    font-size: 45px;
    line-height: 59px;
    padding-bottom: 26px;
  }

  .txt-wrapper {
    width: 446px;
    margin-bottom: 24px;
  }

  .hdr-text {
    font-size: 27px;
    line-height: 32px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1235px) {
  .hdr {
    position: relative;
    background-image: url(..//images/hdr-img/desctop.jpg);
    margin-right: auto;
    margin-left: auto;
  }

  .hdr__container {
    padding-bottom: 40px;
    padding-top: 530px;
  }

  .hdr__logo-link {
    flex-basis: 143px;
    height: 37px;
    flex-grow: 0;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hover-wrapper {
    display: flex;
    position: absolute;
    top: 28px;
    right: 40px;
  }

  .menu-btn {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .nav-list__link {
    display: block;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #fff;
    font-family: $secondary-font-stack;
    font-weight: 400;
    text-align: center;
  }

  .hdr-title {
    font-size: 65px;
    letter-spacing: 2px;
    line-height: 59px;
    color: #fff;
    text-align: left;
    margin-bottom: 40px;
  }

  .hdr-text {
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 64px;
      background-color: #fcae26;
      position: absolute;
      transform: translateX(-24px);
    }
  }

  .txt-wrapper {
    width: 490px;
    height: 100px;
    padding-left: 70px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .scroll {
    margin-top: 180px;
  }
}
