.learning-structure {
  padding-bottom: 60px;
}

.learning-structure__title {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 3.9;
  width: 280px;

  &::before {
    content: '';
    display: block;
    height: 30px;
    flex-basis: 30px;
    background-color: $color-orange;
    background-image: url('../images/css_sprites.png');
    background-position: -63px -413px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.list-structure__item {
  height: 260px;
  width: 280px;
  padding: 20px;
  box-shadow: 1.5px 2.598px 8px 0px rgba(1, 1, 1, 0.1);
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.list-structure__item--orange {
  background-color: #f6ead0;

  &:hover {
    background-color: #f9f0de;
  }
}

.list-structure__item--pink {
  background-color: #fbdcd2;

  &:hover {
    background-color: #fce7e0;
  }
}

.list-structure__item--purple {
  background-color: #e2d8f5;

  &:hover {
    background-color: #ebe4f8;
  }
}

.list-structure__item--blue {
  background-color: #c8eae8;

  &:hover {
    background-color: #d9f0ef;
  }
}

.list-structure__inner {
  height: 225px;
  padding-left: 25px;
  padding-top: 35px;
  border: 1px dashed #fff;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

.list-structure__title {
  font-family: $secondary-font-stack;
  font-size: 25px;
  line-height: 1.08;
  margin-bottom: 25px;
}

.list-structure__text {
  font-size: 16px;
  line-height: 1.375;
}

@media screen and (max-width: 659px) {
  .learning-structure__title {
    margin-right: auto;
    margin-left: auto;
  }

  .list-structure__item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 660px) {
  .learning-structure {
    max-width: 620px;
    padding-top: 30px;
    padding-bottom: 75px;
    margin-right: auto;
    margin-left: auto;
  }

  .learning-structure__title {
    font-size: 33px;
    width: auto;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  .list-structure {
    display: flex;
    flex-wrap: wrap;
  }

  .list-structure__item {
    box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);
    height: 296px;
    flex-basis: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .list-structure__inner {
    height: 255px;
  }

  .list-structure__title {
    font-size: 30px;
    line-height: 0.9;
  }
}

@media screen and (min-width: 660px) and (max-width: 1329px) {
  .list-structure__item {
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  .list-structure__item--orange {
    background-color: #faebd0;

    &:hover {
      background-color: #fcf1de;
    }
  }
}

@media screen and (min-width: 1330px) {
  .learning-structure {
    max-width: 1290px;
    padding-bottom: 115px;
  }

  .list-structure__item {
    margin-right: 30px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .list-structure__text {
    font-size: 18px;
    line-height: 1.556;
  }
}
